.contact-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  margin-bottom: 20px;
  color: black;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: none;
  height: 200px;
}

.contact-form button {
  background-color: black;
  width: 100%;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.alert {
  text-align: center;
  padding: 10px;
}
